#board{
  height: 80vh;
}

.guessed {
  pointer-events: none !important;
  background-image: url(./img/correct.png) !important;
}

.averse{
  pointer-events: none !important;
}

.reverse{
  background-color: rgb(206, 250, 241) !important;
  background-image: url(./img/versace_logo.png) !important;
}
  .card {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(206, 250, 241) !important;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    pointer-events: auto;
  }

  .card.disabled{
    pointer-events: none !important;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  